.sec-container{
    background-image: url('../images/mainbg.png');
    height: 700px;
    width: 100%;
}
.whatt{
    font-size: 30px;
    color: #1F1E17;
    font-weight: bolder;

}
#newsrow{
    text-align: center;
    margin-top: 100px;
}
h3 {
    padding-top: 200px;
    padding-left: 300px;
    font-family: 'Your Grace';
    color: #ffffff;
  }